<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
<connectionStrings>
    <add name="DBCS" connectionString="server=.; database=Sample; user id= sa; password = P@$$w0rd;"
        providerName="System.Data.SqlClient" />
    <add name="SampleConnectionString" connectionString="Data Source=DESKTOP-CKU87KC\SQLSRV2012;Initial Catalog=Sample;Integrated Security=False;User ID=sa;Password=P@$$w0rd;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False"
        providerName="System.Data.SqlClient" />
    <add name="SampleConnectionString1" connectionString="Data Source=ROBIN\SQLEXPRESS;Initial Catalog=Sample;Integrated Security=True;Encrypt=False;TrustServerCertificate=True"
        providerName="System.Data.SqlClient" />
</connectionStrings>
</configuration>
